@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #40C4C4;
  --primary-dark: #35b3b3;
  --background: #000000;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
